* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cascadia Code", "JetBrains Mono", monospace;
}

:root {
	--color: lime;
}

.glass {
	backdrop-filter: blur(2em);
	background: rgba(255, 255, 255, 0.5);
	--dark: rgba(50, 50, 150, 0.2);
	--light: rgba(255, 255, 255, 0.9);
	border-top: var(--light);
	border-right: var(--light);
	border-bottom: var(--dark);
	border-left: var(--dark);
	border-width: 1px;
	border-style: solid;
}

#container {
	width: 100vw;
	height: 100dvh;
	display: flex;
	flex-direction: row;
	/* place-items: center;
	grid-template-columns: 3fr 1fr; */
	padding: 2em;
	background: var(--color);
}

#workspace {
	display: grid;
	place-items: center;
	width: 100%;
}

#inputContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: min(5em, 18vw);

	&, input {
		text-shadow: 0 0 0.1em white;
		color: black;
	}

	&::before {
		content: "#";
		font-weight: bold;
	}
}

#hexInput {
	border: none;
	border-bottom: 3px currentColor solid;
	outline: none;
	padding: 0.2em;
	font: inherit;
	box-sizing: content-box;
	width: 6ch;
	text-transform: uppercase;
	background: none;
	color: inherit;
}

#historyPanel {
	flex-basis: 0;
	border-radius: 1.5em;
}

#history {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	scrollbar-width: none;
	padding: 1em;
	gap: 1em;

	li {
		padding: 0.3em 1em;
		column-gap: 2em;
		display: grid;
		max-width: max-content;
		grid-template-rows: 1fr 1fr / 2fr 6ch 1fr;
		place-items: center;
		--percent: 50%;
		background: linear-gradient(to bottom,
			var(--exp) calc(var(--percent) - 0.1%),
			var(--obs) calc(var(--percent) + 0.1%)
		);
		border-radius: 1em;
		grid-template-areas:
			"exp score errors"
			"obs score errors";

		.exp {
			grid-area: exp;
		}

		.obs {
			grid-area: obs;
		}

		.exp, .obs {
			&::before {
				content: "#";
			}
		}

		.exp, .obs, .score {
			text-transform: uppercase;
			text-shadow: 0 0 0.4em white;
		}

		.score {
			grid-area: score;
		}

		.errors {
			display: flex;
			flex-direction: row;
			gap: 0.4em;
			padding: 0.3em;
			height: 4em;
			grid-area: errors;

			* {
				display: block;
				width: 0.8em;
				height: 100%;
				box-shadow: 0 0 3px black;
				background: white;
				position: relative;
				
				&:first-child::before { background: red; }
				&:nth-child(2)::before { background: lime; }
				&:last-child::before { background: blue; }

				&::before, &::after {
					content: "";
					display: block;
					position: absolute;
					width: 100%;
				}

				&::before {
					height: 100%;
					transform: scaleY(calc(var(--error) * -50% / 128)) translateY(50%);
					z-index: 1;
				}

				&::after {
					height: 2px;
					background: black;
					top: 50%;
					transform: translateY(-50%);
					z-index: 0;
				}

			}
		}
	}
}

@media (max-width: 1200px) {
	#container {
		flex-direction: column;
	}

	#workspace, #historyPanel {
		height: 100%;
	}

	#historyPanel {
		max-height: max-content;
	}
	
	#history {
		flex-direction: row;
		
		li {
			--percent: 20.5%;
			padding: 1em;
			grid-template: 2em 2em 1fr 1fr / 1fr;
			grid-template-areas:
				"exp"
				"obs"
				"score"
				"errors";

			.score {
				text-align: center;
			}
		}
	}
}