* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cascadia Code", "JetBrains Mono", monospace;
}

:root {
	--color: lime;
}

.glass {
	backdrop-filter: blur(2em);
	background: rgba(255, 255, 255, 0.5);
	--dark: rgba(50, 50, 150, 0.2);
	--light: rgba(255, 255, 255, 0.9);
	border-top: var(--light);
	border-right: var(--light);
	border-bottom: var(--dark);
	border-left: var(--dark);
	border-width: 1px;
	border-style: solid;
	border-radius: 1em;
}

#container {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	grid-template-columns: 3fr 1fr;
	padding: 2em;
	background: var(--color);

	> * {
		width: 100%;
		height: 100%;
	}
}

#workspace {
	display: grid;
	place-items: center;
}

#inputContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 5em;

	&, input {
		text-shadow: 0 0 0.1em white;
		color: black;
	}

	&::before {
		content: "#";
		font-weight: bold;
	}
}

#hexInput {
	border: none;
	border-bottom: 3px currentColor solid;
	outline: none;
	padding: 0.2em;
	font: inherit;
	box-sizing: content-box;
	width: 6ch;
	text-transform: uppercase;
	background: none;
	color: inherit;
}

#historyPanel {
	overflow: hidden;
}

#history {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow: auto;
	padding: 1em;
	gap: 1em;

	li {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 2fr 6ch 1fr;
		place-items: center;
		background: linear-gradient(to bottom, var(--exp) 49%, var(--obs) 50%);
		border-radius: 1em;

		.exp, .obs {
			grid-column: 1;
			&::before {
				content: "#";
			}
		}

		/* .exp::before {
			content: "✔️ #";
		}

		.obs::before {
			content: "✒️ #";
		} */

		.exp, .obs, .score {
			text-transform: uppercase;
			text-shadow: 0 0 0.4em white;
		}

		.score {
			grid-column: 2;
			grid-row: 1/3;
		}

		.errors {
			display: flex;
			flex-direction: row;
			gap: 0.4em;
			padding: 0.3em;
			height: 4em;
			grid-column: 3;
			grid-row: 1/3;

			* {
				display: block;
				width: 0.8em;
				height: 100%;
				box-shadow: 0 0 3px black;
				background: white;
				position: relative;
				
				&:first-child::before { background: red; }
				&:nth-child(2)::before { background: lime; }
				&:last-child::before { background: blue; }

				&::before, &::after {
					content: "";
					display: block;
					position: absolute;
					width: 100%;
				}

				&::before {
					height: 100%;
					transform: scaleY(calc(var(--error) * -50% / 128)) translateY(50%);
					z-index: 1;
				}

				&::after {
					height: 2px;
					background: black;
					top: 50%;
					transform: translateY(-50%);
					z-index: 0;
				}

			}
		}
	}
}